GEMINI.md
CLAUDE.MD
Rules.md 
.claude
QWEN.md
pinescript/
enhanced_mad_straddle_system/
infrastructure/
options_trading/
BUG_REGISTRY.md
DATA_PATTERNS.py
PositionCalculatorGuide.md
ReadMAD.md
perp_quoter.py



#python __pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg       